{% extends 'base.twig' %}

{% block content %}
	<main id="content" class="container max-w-4xl py-10 mx-auto md:py-20">
    <h1 class="pb-8 text-4xl font-medium md:pb-12 lg:text-6xl font-syne">{{ post.title }}</h1>
		{% if post.content is not empty %}
			{{ post.content }}
		{% endif %}
	</main>
{% endblock %}
