<header class="container flex items-center justify-between py-4">
	<a href="{{ homepage_url }}">
		<img src="{{ logo }}" alt="somoscuatro" width="158" height="52" />
	</a>
	<nav class="hidden gap-6 md:flex">
		{% for item in site_header_primary.get_items %}
			{% if not item.meta('_menu-item-call-to-action') %}
				{% include 'button.twig' with {
					title: item.title,
					url: item.url,
					target: item.target,
					type: 'link'
				} %}
			{% endif %}
		{% endfor %}
	</nav>
	<div class="flex gap-2">
		{% set key = 0 %}
		{% for item in site_header_primary.get_items %}
			{% if item.meta('_menu-item-call-to-action') %}
				{% include 'button.twig' with {
					title: item.title,
					url: item.url,
					target: item.target,
					type: key == 0 ? 'primary' : 'hollow_dark',
					attrs: item.url == '#calendly' ? 'onclick="Calendly.initPopupWidget({url: \'https://calendly.com/luca-pipolo/let-s-meet\'});return false;"' : '',
					classes: key == 1 ? 'hidden md:block' : ''
				} %}
				{% set key = key + 1 %}
			{% endif %}
		{% endfor %}
	</div>
</header>
