<footer class="bg-gray-400">
	<div class="container container-padding">
		<a href="{{ homepage_url }}">
			<img src="{{ logo }}" alt="somoscuatro" height="{{ height }}" width="{{ width }}" />
		</a>
	</div>
</footer>
