{% extends "section.twig" %}

{% set background = get_color_name(bg_color) %}
{% set foreground = get_foreground_color_name(background) %}

{% block section_content %}
	<div class="text-{{ foreground }}">
		<div class="container flex flex-col items-center justify-between gap-10 lg:gap-20 container-padding">
			<div class="flex flex-col gap-4">
				<h1 class="text-4xl font-medium text-center lg:text-6xl font-syne">{{ title }}</h1>
				{% if text %}
					<div class="flex flex-col max-w-lg gap-2 text-xl font-light">{{ text|striptags('<br><p>') }}</div>
				{% endif %}
			</div>
			{% if image %}
				{% include 'image.twig' with {
					image: image,
					allowed_sizes: ['lg', 'xl']
				} %}
			{% endif %}
		</div>
	</div>
{% endblock %}
