{% extends "section.twig" %}

{% set background = get_color_name(bg_color) %}
{% set foreground = get_foreground_color_name(background) %}

{% block section_content %}
	<div class="flex flex-col gap-20 text-{{ foreground }}">
		<h2 class="max-w-3xl mx-auto text-4xl text-center font-syne">{{ text }}</h2>
		<div class="flex flex-col gap-2">
			<h3 class="text-lg font-bold uppercase">{{ __('Trusted By', 'somoscuatro-theme') }}</h3>
			<div class="flex justify-between">
				{% for item in customers_logos %}
					<img src="{{ item.customer_logo['url'] }}" width="176" height="65">
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
