{% extends "section.twig" %}

{% set background = get_color_name(bg_color) %}
{% set foreground = get_foreground_color_name(background) %}

{% block section_content %}
	<div class="flex flex-col text-{{ foreground }}">
		{% for testimonial in testimonials %}
			<div class="flex flex-col gap-8 md:flex-row md:gap-16 max-w">
				{% include 'image.twig' with {
					class: "rounded-full h-fit overflow-hidden !max-w-[180px] !min-w-[180px]",
					image: function('get_field', 'cpt_testimonials_image', testimonial.ID),
					allowed_sizes: ['sm', 'md']
				} %}
				<div class="flex flex-col gap-4">
					<p class="text-xl md:text-2xl">{{ testimonial.post_content|striptags }}</p>
					<div class="flex flex-col">
						<h3 class="text-lg font-bold">{{ testimonial.post_title }}</h3>
						<p>{{ function('get_field', 'cpt_testimonials_role_company', testimonial.ID) }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
