<div class="container container-padding container-gap-sm">
	{% if heading %}
		<h2 class="text-center h3">{{ heading }}</h2>
	{% endif %}
	<div class="flex flex-wrap gap-10">
		{% for logo in logos %}
			<img src="{{ logo.url }}" alt="{{ logo.alt }}" width="180" height="48">
		{% endfor %}
	</div>
</div>
